<h2>Create New Stripe</h2>

<%= render "templates" %>

<%= form_for [:admin, @stripe], :html => {:multipart => true} do |f| %>
<h4>Title</h4>
<%= f.text_field :title, :class => "input-xlarge" %>

<% if @stripe.errors.any? %>
  <ul>
    <% @stripe.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>


<div class="stripe-items">
  <div class="stripe-item">
    <p class="controls">
      <a href="javascript:void(0)" class="btn add-new-text-item"><i class="icon-font"></i> Text</a>
      <a href="javascript:void(0)" class="btn add-new-image-item"><i class="icon-picture"></i> Image</a>
      <a href="javascript:void(0)" class="btn add-new-embed-item"><i class="icon-share"></i> Embed</a>
    </p>

    <div class="clearfix"></div>
    <hr/>
  </div>
</div>

<p>
  <%= f.submit "Create Stripe", :class => "btn submit btn-primary" %>
</p>
<% end %>

