
<%= link_to "View Stripe", stripe_path(@stripe), :class => "btn" %>
<%= link_to "Edit Stripe", edit_admin_stripe_path(@stripe), :class => "btn" %>
</p>

<div class="stripe">
  <h2><%= @stripe.title %></h2>
  <% @stripe.stripe_items.each_with_index do |item, i| %>
    <div>
      <h4><%= i + 1 %></h4>
      <% if item.text? %>
        <p>
          <%= h(item.content).gsub(/\n/, '<br/>').html_safe %>
        </p>
      <% elsif item.image? %>
        <div>
          <%= image_tag item.image_url %>
        </div>
      <% elsif item.embed? %>
        <%= h item.content.html_safe %>
      <% end %>
    </div>
    <hr/>
  <% end %>
</div>
