<h3 class="title"><%= @stripe.title %></h3>
<div class="stripe-actions">
  <span>&ndash; <%= link_to "View", path_to_stripe(@stripe) %></span>
  <span>&ndash; <%= link_to "Edit", edit_admin_stripe_path(@stripe) %></span>
  <span>&ndash; <%= link_to "Delete", admin_stripe_path(@stripe), :method => :delete %></span>
</div>
<hr/>

<div class="stripe">
  <% @stripe.stripe_items.each_with_index do |item, i| %>
    <div>
      <h6><%= i + 1 %></h6>
      <% if item.text? %>
        <p>
          <%= h(item.content).gsub(/\n/, '<br/>').html_safe %>
        </p>
      <% elsif item.image? %>
        <div>
          <%= image_tag item.image_url %>
        </div>
      <% elsif item.embed? %>
        <%= h item.content.html_safe %>
      <% end %>
    </div>
    <hr/>
  <% end %>
</div>
