<div class="row">
  <div class="span2 offset1 dark-bg" id="landing-logo">
    <%= link_to image_tag("logo-landing.png"), root_path %>
  </div>
</div>

<div class="row">
  <div class="span6 offset2 dark-bg" id="landing-intro">
    <p>
      We're almost done!
    </p>
    <p>
      Please select a new password and we'll be good to go!
    </p>
  </div>
</div>

<div class="row">
  <div class="span3 offset1 dark-bg" id="landing-login">
    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
      <%= f.hidden_field :reset_password_token %>

      <%= f.label :password, "New password" %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirm new password" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Update" %>
    <% end %>
  </div>
</div>

<footer class="row">
  <div class="span10 offset1">
    <nav>
      <%= link_to "-contact", "mailto:info@webstripe.co" %>
      <%= link_to "-about", "http://oficiosvarios.tumblr.com/post/34606969687/aboutwebstripe", :target => "_blank"%>
      <%= link_to "-blog", "http://oficiosvarios.tumblr.com", :target => "_blank" %>
      <%= link_to "-@webstripeco", "http://twitter.com/webstripeco", :target => "_blank" %>
    </nav>
  </div>
</footer>





