<div class="row">
  <div class="span2 offset1 dark-bg" id="landing-logo">
    <%= link_to image_tag("logo-landing.png"), root_path %>
  </div>
</div>

<div class="row">
  <div class="span6 offset2 dark-bg" id="landing-intro">
    <p>
<p>Webstripe is a tool to create and publish stories on the internet: image, text, video and embedded content, woven together to create multimedia narratives.</p>

<p>Companies and authors are using it to create presentations, launch products, reinvent user manuals and integrate storytelling to their websites. What are you waiting for?</p>

    <p>
<%= link_to "View our sampler", "http://webstripe.co/000012" %> & <%= link_to "get in touch", "mailto:info@webstripe.co?subject=Invite Request for Webstripe" %> to start using Webstripe.
    </p>
  </div>
</div>

<div class="row">
  <div class="span3 offset1 dark-bg" id="landing-login">
    <%= form_for("user", :url => user_session_path) do |f| %>

      <%= label_tag :username, "User:" %>
      <%= f.text_field :username %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.submit "Login" %>
    <% end %>
    <%= link_to "Forgot your password?", new_user_password_path, class: "forgot" %>
  </div>
</div>

<footer class="row">
  <div class="span10 offset1">
    <nav>
      <%= link_to "-contact", "mailto:info@webstripe.co" %>
      <%= link_to "-about", "http://oficiosvarios.tumblr.com/post/34606969687/aboutwebstripe", :target => "_blank"%>
      <%= link_to "-blog", "http://oficiosvarios.tumblr.com", :target => "_blank" %>
      <%= link_to "-@webstripeco", "http://twitter.com/webstripeco", :target => "_blank" %>
    </nav>
  </div>
</footer>
