<div class="row">
  <div class="span2 offset1 dark-bg" id="landing-logo">
    <%= link_to image_tag("logo-landing.png"), root_path %>
  </div>
</div>

<div class="row">
  <div class="span6 offset2 dark-bg" id="landing-intro">
    <p>
      Webstripe is a new way of creating engaging stories<br/>
      on the internet. Multimedia stories made of woven<br/>
      images, texts and videos.
    </p>

    <p>
      We’re testing the concept — you’re invited to<br/>
      <%= link_to "view our sampler", "http://webstripe.herokuapp.com/000011" %> & <%= link_to "request an invite", "mailto:info@webstripe.co?subject=Invite Request for Webstripe" %>.
    </p>
  </div>
</div>

<div class="row">
  <div class="span3 offset1 dark-bg" id="landing-login">
    <%= form_for("user", :url => user_session_path) do |f| %>
    <div class="red">
      <% flash.each do |name, msg| %>
          <%= msg %>
      <% end %>
    </div>

      <%= label_tag :username, "User:" %>
      <%= f.text_field :username %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.submit "Login" %>
    <% end %>
  </div>
</div>

<footer class="row">
  <div class="span10 offset1">
    <nav>
      <%= link_to "-contact", "mailto:info@webstripe.co" %>
      <%= link_to "-about", "http://oficiosvarios.tumblr.com/post/34606969687/aboutwebstripe", :target => "_blank"%>
      <%= link_to "-blog", "http://oficiosvarios.tumblr.com", :target => "_blank" %>
      <%= link_to "-@webstripe", "http://twitter.com/webstripeco", :target => "_blank" %>
    </nav>
  </div>
</footer>
