<div id="show-stripe" class="stripe">
  <% @stripe.stripe_items.each do |item| %>
    <div class="item">
      <% if item.image? %>
        <%= image_tag item.image_url %>
      <% elsif item.text? %>
        <p><%= item.content %></p>
      <% else %>
        <%= item.content.html_safe %>
      <% end %>
    </div>
  <% end %>
</div>

<footer>
  <span><%= @stripe.title %></span>
  <div id="slider">
  </div>
  <%= image_tag "powered-by.png" %>
</footer>
