<div class="row users-panel">
  <div class="span3">
    <span class="section-name">Manage</span>
  </div>

  <div class="span5 invites">
    <h1>Invite:</h1>
    <%= form_tag admin_invite_user_path, method: :post do  %>
      <%= text_field_tag :email %>
      <%= submit_tag "Invite" %>
    <% end %>
  </div>

  <div class="span2 offset2 xls">
    <%= link_to "Download as XLS", "" %>
  </div>
</div>

<%= flash[:notice]  %>

<div class="row">
  <div class="span12">
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>ID</th>
          <th>Username</th>
          <th>Email</th>
          <th>Date</th>
          <th>Type</th>
          <th>Stripes</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.username %></td>
          <td><%= link_to user.email, "mailto:#{user.email}" %></td>
          <td><%= user.created_at.strftime("%d/%m/%y") %></td>
          <td><%= best_in_place user, :role, type: :select, path: admin_user_path(user), collection: User::ROLES.map {|role| [role, role.capitalize] } %></td>
          <td><%= user.stripes.count %></td>
          <td><%= best_in_place user, :status, type: :select, path: admin_user_path(user), collection: User::STATUS.map {|status| [status, status.capitalize] } %></td>
          <td class="action-links">
            <%= link_to "E", "" %>
          </td>
        </tr>
        <% end %>
        <tr><td class="td-empty" colspan="8">&nbsp</td></tr>
        <tr class="tr-data">
          <td colspan="4">
            <%= User.count.to_s.rjust(4, "0") %>
          </td>
          <td>
            <%= User.admin.count.to_s.rjust(3, "0") %> Z<br/>
            <%= User.pro.count.to_s.rjust(3, "0") %> P<br/>
            <%= User.basic.count.to_s.rjust(3, "0") %> B<br/>
          </td>
          <td>
            <%= Stripe.count.to_s.rjust(3, "0") %>
          </td>
          <td colspan="2">
            <%= User.count.to_s.rjust(4, "0") %> A
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
